.imgDetail{
    width: 50vw;
    height: 75vh;
    object-position: center;
    object-fit: cover;
}
.info{
    height: 50vh;
    width: 30vw;
}
.name{
    margin: 0;
    padding: 0;
}
.description{
    margin: 0;
    padding: 0;
}