.register{
    height: 60vh;
    width: 50vw;
}
.register input,.register span{
    border: 0;
    border-bottom: 1px black solid;
    background-color: white;
    border-radius: 0;
}
.register button{
    border-radius: 0;
}
.register button:hover{
    background-color: white;
    border: 1px black solid;
    color: black;
}