.login{
    height: 60vh;
    width: 30vw;
}
.login input,.login span{
    border: 0;
    border-bottom: 1px black solid;
    background-color: white;
    border-radius: 0;
}
.login button{
    border-radius: 0;
}
.login button:hover{
    background-color: white;
    border: 1px black solid;
    color: black;
}